// variables

$inner-banner-bg: #333;
$grey-bg: #e5e5e5;
$border :#cccccc;

.inner-banner {
	background: $inner-banner-bg;
	color: #fff;
	padding: 0 0 20px 0;

	h1 {
		font-size: 40px;
		color: #fff;
	}
}
.page-headings {
	border-bottom: 1px solid $border;
	padding-bottom: 10px;
	margin-bottom: 30px;
}
.plugin-info {
	font-size: 14px;
	border: 1px solid $border;
	padding: 5px 10px;
	border-radius: 5px;
	background: $grey-bg;
}
//plugins

.plugins {
	.note {
		margin-bottom: 30px;
	}
}
.go-tag {
	margin: 0 5px;
}
.plugins-container {
	background: #f5f5f5;
	margin-bottom: 40px;
}
.contribute-plugin {
	@extend %flexbox;
	@include flex-direction(column);
	@include justify-content(center);
	height: 138px;
	text-align: center;

	.fa-star {
		font-size: 50px;
	}
}
.plugins-list {
	list-style-type: none;
	margin: 10px;
	padding: 10px 0;
	@extend %flexbox;
	@include flex-wrap(wrap);
	@include align-content(space-between);

	@media (min-width:$screen-tablet) {
	}
	li {
		background: #fff;
		margin: 10px;
		padding: 20px;
		width: 100%;
		position: relative;
		align-items: stretch;
		transition: all 0.5s ease;

		@media (min-width:$screen-tablet) {
			width: 47%;
			padding-bottom: 40px;
		}
		@media (min-width:$screen-desktop) {
			width: 31%;
		}
		@media (min-width:$screen-lg-desktop) {
			width: 23%;
		}
		.go-logo {
			position: absolute;
			right: 5px;
			top: 5px;
		}
		.name {
			font-size: 20px;

			@media (min-width:$screen-tablet) {
				// height: 44px;
			}
		}
		.more-details {
			font-size: 12px;
			color: $subtext;

			@media (min-width:$screen-tablet) {
			}
		}
		.created-by {
			margin-bottom: 10px;
			display: block;
		}
		.actions {
			background: $grey-bg;
			margin: 0 -20px -20px;
			padding: 10px 20px;
			@include clearfix;
			transition: all 0.5s ease;

			@media (min-width:$screen-tablet) {
				position: absolute;
				bottom: 0;
				width: 100%;
				margin: 0;
				left: 0;
			}
		}
		.with-go, .download-plugin {
			float: left;
			color: #333;
			transition: all 0.5s ease;
		}
		.download-plugin {
			.fa {
				margin-right: 3px;
			}
		}
		.github-star-button {
			float: right;
		}
		&:hover {
			-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
			-moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
			box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
			transition: all 0.5s ease;

			.actions {
				background: $primary-color;
				transition: all 0.5s ease;

				.with-go, .download-plugin {
					transition: all 0.5s ease;
					color: #fff;
				}
			}
		}
		&.contribute_tile {
			background: #666666;
			color: #fff;

			a, h5 {
				color: #fff;
			}
		}
	}
}
//download

.warning {
	padding: 10px;
	margin: 10px 0 0 0;
	background: rgba(235, 33, 33, 0.15);
	position: relative;
	@extend %flexbox;
	@include justify-content(flex-start);
	@include align-items(center);

	.fa {
		font-size: 20px;
		margin: 0 10px;
		color: rgba(255, 0, 0, 0.62);
	}
}
.event-list {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		@include clearfix;
		@extend %flexbox;
		@include justify-content(flex-start);
		margin-bottom: 20px;
		padding:10px 0;
		border-bottom: 1px dashed $border;

		.title {
			font-size: 18px;
			display: block;
		}
		.time {
			display: block;
			color: $gray-light;
		}
	}
}
.details {
}
.datebox {
	background: $gray-lighter;
	padding: 10px 20px;
	border-radius: 5px;
	margin-right: 20px;
	text-align: center;

	.month {
		display: block;
		font-size: 16px;
	}
	.date {
		display: block;
		font-size: 25px;
		font-weight: 700;
	}
}

//features

.go-features{
.figure{
	text-align: center;
	img{
		width:120px;
	}
}
.features__title{
	text-align: center;
	margin-bottom: 20px;
}
.row{
	margin-bottom: 50px;
}
}