@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(bootstrap.min.css);
/* line 42, scss/_mixins.scss */
.btn {
  text-decoration: none; }

/* line 70, scss/_flexbox.scss */
.warning, .event-list li, .contribute-plugin, .plugins-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

/* line 9, scss/_tabs.scss */
ul.tabs {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  width: 100%; }
  @media (min-width: 768px) {
    /* line 9, scss/_tabs.scss */
    ul.tabs {
      width: 180px;
      border-right: 0;
      border-bottom: 0; } }
  /* line 24, scss/_tabs.scss */
  ul.tabs li {
    margin: 0;
    cursor: pointer;
    padding: 10px 20px;
    color: #999;
    overflow: hidden;
    position: relative;
    font-size: 16px;
    border-bottom: 1px solid #d8f0f1;
    border-left: 1px solid #d8f0f1; }
    /* line 40, scss/_tabs.scss */
    ul.tabs li strong {
      display: block;
      font-weight: 400; }
    /* line 45, scss/_tabs.scss */
    ul.tabs li:hover {
      background-color: #f5f5f5;
      color: #000; }
    /* line 50, scss/_tabs.scss */
    ul.tabs li.active {
      background-color: #d8f0f1;
      color: #333;
      border-right: 1px solid #d8f0f1;
      display: block;
      width: 180px;
      border-left: 0; }
    /* line 59, scss/_tabs.scss */
    ul.tabs li:last-child {
      border-bottom-left-radius: 5px; }

/* line 67, scss/_tabs.scss */
.tab_container {
  border-top: 0px;
  clear: both;
  float: left;
  width: 100%;
  background: #d8f0f1; }
  @media (min-width: 768px) {
    /* line 67, scss/_tabs.scss */
    .tab_container {
      width: 540px;
      clear: none; } }
  @media (min-width: 992px) {
    /* line 67, scss/_tabs.scss */
    .tab_container {
      width: 760px; } }
  @media (min-width: 1200px) {
    /* line 67, scss/_tabs.scss */
    .tab_container {
      width: 960px; } }

/* line 93, scss/_tabs.scss */
.tab-accordion_heading {
  display: none; }

@media screen and (max-width: 767px) {
  /* line 99, scss/_tabs.scss */
  .tabs {
    display: none; }

  /* line 103, scss/_tabs.scss */
  .tab-accordion_heading {
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
    display: block;
    cursor: pointer;
    font-weight: normal;
    color: #666;
    font-size: 16px; } }
  @media screen and (max-width: 767px) and (min-width: 768px) {
    /* line 103, scss/_tabs.scss */
    .tab-accordion_heading {
      font-size: 20px; } }

@media screen and (max-width: 767px) {
  /* line 122, scss/_tabs.scss */
  .tab_container .tab-accordion_heading:first-child {
    border-top: 1px solid #cccccc; }

  /* line 128, scss/_tabs.scss */
  .d_active {
    background-color: #333333;
    color: #fff;
    border-color: #333; } }
@media (max-width: 767px) {
  /* line 145, scss/_tabs.scss */
  .tab_content {
    border: 1px solid #cccccc; } }

/* line 1, scss/_general.scss */
body {
  font-family: 'Open Sans', sans-serif;
  color: #555555;
  margin-top: 58px;
  font-size: 14px; }
  @media (min-width: 768px) {
    /* line 1, scss/_general.scss */
    body {
      font-size: 16px; } }

/* line 13, scss/_general.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333; }

/* line 22, scss/_general.scss */
h3 {
  font-size: 18px; }

/* line 26, scss/_general.scss */
a {
  color: #337ab7; }
  /* line 29, scss/_general.scss */
  a:hover, a:active, a:focus {
    text-decoration: none; }

/* line 37, scss/_general.scss */
main {
  padding: 30px 0 0; }

/* line 41, scss/_general.scss */
.note {
  background: #f5f5f5;
  padding: 20px; }

/* line 46, scss/_general.scss */
figure {
  text-align: center; }

/* line 50, scss/_general.scss */
img {
  max-width: 100%; }

/* Color Themes - Variables */
/* line 15, scss/_navigation.scss */
.top .navbtn {
  display: none;
  float: right;
  margin: 2px 3px 0 0;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  background: transparent; }

/* line 28, scss/_navigation.scss */
.mainnav {
  float: right; }
  /* line 30, scss/_navigation.scss */
  .mainnav ul {
    list-style: none;
    margin: 0;
    padding: 0; }

/* line 36, scss/_navigation.scss */
.mainnav > ul.level0 > li {
  display: block;
  float: left;
  font-size: 14px;
  margin-right: 4px; }
  /* line 41, scss/_navigation.scss */
  .mainnav > ul.level0 > li.active {
    background: #fff; }
    /* line 43, scss/_navigation.scss */
    .mainnav > ul.level0 > li.active a {
      color: #333; }
  /* line 47, scss/_navigation.scss */
  .mainnav > ul.level0 > li > a {
    display: block;
    text-decoration: none;
    line-height: 58px;
    color: #fff;
    padding: 0 10px;
    position: relative; }
    /* line 55, scss/_navigation.scss */
    .mainnav > ul.level0 > li > a:hover {
      color: #333;
      background: #fff; }

/*nav dropdown*/
/* line 85, scss/_navigation.scss */
.mainnav ul.level0 > li {
  position: relative; }
  /* line 87, scss/_navigation.scss */
  .mainnav ul.level0 > li ul {
    position: absolute;
    top: 100%;
    display: none; }
    @media (min-width: 768px) {
      /* line 87, scss/_navigation.scss */
      .mainnav ul.level0 > li ul {
        -webkit-box-shadow: 0px 5px 7px -3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 5px 7px -3px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 5px 7px -3px rgba(0, 0, 0, 0.75); } }
    /* line 100, scss/_navigation.scss */
    .mainnav ul.level0 > li ul li a {
      text-decoration: none;
      background: #fff;
      padding: 5px 10px;
      color: #333;
      line-height: 22px;
      min-width: 180px;
      display: block;
      transition: all 0.5s ease; }
      /* line 109, scss/_navigation.scss */
      .mainnav ul.level0 > li ul li a:hover {
        background: #dddddd;
        transition: all 0.5s ease; }

/* line 119, scss/_navigation.scss */
.mainnav ul li.dropdown:hover > a {
  color: #333;
  background: #fff;
  border-bottom-color: #eee; }
/* line 124, scss/_navigation.scss */
.mainnav ul li.dropdown:hover ul {
  display: block; }

/* responsive styles */
@media screen and (max-width: 560px) {
  /* line 136, scss/_navigation.scss */
  .mainnav {
    display: block;
    position: absolute;
    z-index: 10;
    width: 250px;
    top: 58px;
    bottom: auto;
    height: 100vh;
    left: -250px;
    transition: all 0.5s ease;
    background: #fff;
    overflow: auto; }
    /* line 148, scss/_navigation.scss */
    .mainnav.open {
      left: 0px;
      transition: all 0.5s ease; }

  /* line 153, scss/_navigation.scss */
  .mainnav ul.level0 > li {
    float: none;
    margin: 0; }

  /* line 154, scss/_navigation.scss */
  .mainnav ul.level0 > li > a {
    width: 100%;
    line-height: 1.4em;
    padding: 6px 10px 6px 30px;
    border-top: 1px solid #ddd;
    color: #333;
    font-size: 15px; }

  /* line 163, scss/_navigation.scss */
  .mainnav ul.level0 > li > a:hover {
    background: #ccc;
    border-bottom: 1px solid #ddd; }

  /* line 168, scss/_navigation.scss */
  .mainnav ul li a.sel {
    color: #fff;
    background: #333; }
    /* line 171, scss/_navigation.scss */
    .mainnav ul li a.sel:hover {
      background: #333;
      color: #fff; }

  /* line 176, scss/_navigation.scss */
  .mainnav ul.level0 > li > a:hover:after {
    border-top: 0px solid black; }

  /* line 179, scss/_navigation.scss */
  .mainnav > ul.level0 > li.dropdown {
    position: relative; }
    /* line 195, scss/_navigation.scss */
    .mainnav > ul.level0 > li.dropdown ul {
      display: block;
      position: static;
      border: 0; }
      /* line 199, scss/_navigation.scss */
      .mainnav > ul.level0 > li.dropdown ul a {
        color: #888;
        padding: 10px 10px 10px 30px; }

  /* line 205, scss/_navigation.scss */
  .top .navbtn {
    display: block; }

  /* line 209, scss/_navigation.scss */
  .nav-open {
    overflow: hidden; }

  /* line 212, scss/_navigation.scss */
  .nav-open:after {
    content: "";
    position: fixed;
    top: 59px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.73);
    z-index: 9;
    width: 100%;
    transition: all 1s ease; } }
/* line 231, scss/_navigation.scss */
.menu {
  position: relative;
  display: block;
  width: 40px;
  height: 30px;
  margin: 10px 0 0 10px; }

/* line 238, scss/_navigation.scss */
.menu span {
  margin: 0px auto;
  position: relative;
  top: 12px; }

/* line 243, scss/_navigation.scss */
.menu span:before, .menu span:after {
  position: absolute;
  content: ''; }

/* line 247, scss/_navigation.scss */
.menu span, .menu span:before, .menu span:after {
  width: 40px;
  height: 5px;
  background-color: #fff;
  display: block;
  border-radius: 4px; }

/* line 254, scss/_navigation.scss */
.menu span:before {
  margin: -12px 0 0 0; }

/* line 257, scss/_navigation.scss */
.menu span:after {
  margin: 12px 0 0 0; }

/* line 260, scss/_navigation.scss */
.collapse span {
  transition-duration: 0s;
  transition-delay: .2s; }

/* line 265, scss/_navigation.scss */
.collapse.open span {
  background-color: rgba(255, 255, 255, 0);
  transition-delay: .1s; }

/* line 269, scss/_navigation.scss */
.collapse span:before {
  transition-property: margin, transform;
  transition-duration: .2s;
  transition-delay: .2s, 0; }

/* line 274, scss/_navigation.scss */
.collapse.open span:before {
  margin-top: 0;
  transform: rotate(45deg);
  transition-delay: 0, .2s; }

/* line 279, scss/_navigation.scss */
.collapse span:after {
  transition-property: margin, transform;
  transition-duration: .2s;
  transition-delay: .2s, 0; }

/* line 284, scss/_navigation.scss */
.collapse.open span:after {
  margin-top: 0;
  transform: rotate(-45deg);
  transition-delay: 0, .2s; }

/* line 2, scss/_header.scss */
header.top {
  background: #86569A;
  position: fixed;
  z-index: 11;
  width: 100%;
  top: 0;
  transition: all 0.5s ease; }
  /* line 4, scss/_mixins.scss */
  header.top:after {
    content: "";
    display: table;
    clear: both; }
  /* line 11, scss/_header.scss */
  header.top.scroll-on {
    background: rgba(134, 86, 154, 0.95);
    transition: all 0.5s ease;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.48);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.48); }
  /* line 18, scss/_header.scss */
  header.top:hover {
    background: #86569A;
    transition: all 0.5s ease; }

/* line 23, scss/_header.scss */
.logo {
  margin: 10px 0;
  float: left; }

/* line 1, scss/_footer.scss */
footer {
  background: #555555;
  padding: 30px 0;
  color: #fff;
  text-align: center; }
  /* line 6, scss/_footer.scss */
  footer a {
    color: #fff;
    text-decoration: underline; }

/* line 12, scss/_footer.scss */
.join-community {
  background: #e5e5e5;
  margin-top: 50px;
  padding: 30px 0;
  background: url("../images/bg-pattern.png") 0 0;
  position: relative; }
  /* line 19, scss/_footer.scss */
  .join-community:before {
    position: absolute;
    content: "";
    width: 100%;
    top: 0;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(210, 210, 210, 0.27); }
  /* line 31, scss/_footer.scss */
  .join-community h3 {
    text-align: center;
    margin: 0 0 30px 0; }
  /* line 36, scss/_footer.scss */
  .join-community ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    z-index: 2; }
  /* line 45, scss/_footer.scss */
  .join-community li {
    display: inline-block;
    padding: 0 5px; }
    @media (min-width: 768px) {
      /* line 45, scss/_footer.scss */
      .join-community li {
        border-right: 1px solid #ccc;
        padding: 0 50px; } }
    @media (min-width: 768px) {
      /* line 53, scss/_footer.scss */
      .join-community li:first-child {
        border-left: 1px solid #ccc; } }
  /* line 61, scss/_footer.scss */
  .join-community a {
    display: block;
    text-align: center;
    color: #333;
    text-transform: uppercase;
    font-size: 11px; }
  /* line 69, scss/_footer.scss */
  .join-community .fa {
    display: block;
    font-size: 18px;
    color: #86569A;
    margin-bottom: 10px;
    transition: all .2s ease-in-out; }
    /* line 76, scss/_footer.scss */
    .join-community .fa:hover {
      transform: scale(1.1); }
    @media (min-width: 768px) {
      /* line 69, scss/_footer.scss */
      .join-community .fa {
        font-size: 40px; } }

/* line 2, scss/_banner.scss */
.banner {
  background-image: url("../images/go-banner-phone.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 250px;
  position: relative; }
  @media (min-width: 768px) {
    /* line 2, scss/_banner.scss */
    .banner {
      height: 500px;
      background-image: url("../images/go-banner-tablet.jpg");
      background-size: initial; } }
  @media (min-width: 1025px) {
    /* line 2, scss/_banner.scss */
    .banner {
      background-image: url("../images/go-banner-desktop.jpg");
      height: 700px; } }
  /* line 24, scss/_banner.scss */
  .banner .banner-content {
    position: absolute;
    top: 50%;
    min-width: 300px;
    max-width: 400px;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%); }
    @media (min-width: 768px) {
      /* line 24, scss/_banner.scss */
      .banner .banner-content {
        width: 750px;
        max-width: 750px; } }
    @media (min-width: 992px) {
      /* line 24, scss/_banner.scss */
      .banner .banner-content {
        width: 1000px;
        max-width: 1100px;
        transform: translate(-50%, -50%); } }
  /* line 43, scss/_banner.scss */
  .banner .caption {
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    display: inline-block; }
    @media (min-width: 768px) {
      /* line 43, scss/_banner.scss */
      .banner .caption {
        font-size: 50px; } }
    @media (min-width: 992px) {
      /* line 43, scss/_banner.scss */
      .banner .caption {
        font-size: 70px; } }
  /* line 58, scss/_banner.scss */
  .banner .subcaption {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    text-shadow: 0px 0px 2px #969696; }
    /* line 64, scss/_banner.scss */
    .banner .subcaption span {
      display: block; }
      /* line 66, scss/_banner.scss */
      .banner .subcaption span:first-child {
        text-transform: uppercase; }
        @media (min-width: 768px) {
          /* line 66, scss/_banner.scss */
          .banner .subcaption span:first-child {
            font-size: 30px;
            line-height: 40px; } }
        @media (min-width: 992px) {
          /* line 66, scss/_banner.scss */
          .banner .subcaption span:first-child {
            font-size: 40px;
            line-height: 45px; } }
      @media (min-width: 768px) {
        /* line 64, scss/_banner.scss */
        .banner .subcaption span {
          font-size: 18px; } }
      @media (min-width: 992px) {
        /* line 64, scss/_banner.scss */
        .banner .subcaption span {
          font-size: 22px; } }
    @media (min-width: 768px) {
      /* line 58, scss/_banner.scss */
      .banner .subcaption {
        font-size: 20px; } }

/* line 115, scss/_banner.scss */
.btn-download {
  color: #fff;
  background: #86569A;
  transition: all 1s ease;
  width: 150px;
  padding: 10px;
  font-size: 18px;
  margin: 10px auto 0; }
  /* line 32, scss/_mixins.scss */
  .btn-download:hover {
    background: #86569A;
    /* Old browsers */
    background: -moz-linear-gradient(top, #86569A 0%, #8c5aa1 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #86569A), color-stop(100%, #8c5aa1));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #86569A 0%, #8c5aa1 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #86569A 0%, #8c5aa1 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #86569A 0%, #8c5aa1 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #86569A 0%, #8c5aa1 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */
    transition: all 1s ease; }
  /* line 36, scss/_mixins.scss */
  .btn-download:active {
    transition: all 0.5s ease;
    background: #86569A;
    /* Old browsers */
    background: -moz-linear-gradient(top, #86569A 0%, #8c5aa1 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #86569A), color-stop(100%, #8c5aa1));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #86569A 0%, #8c5aa1 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #86569A 0%, #8c5aa1 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #86569A 0%, #8c5aa1 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #86569A 0%, #8c5aa1 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */ }
  /* line 123, scss/_banner.scss */
  .btn-download:hover, .btn-download:active, .btn-download:focus, .btn-download:visited {
    color: #fff; }
  @media (min-width: 768px) {
    /* line 115, scss/_banner.scss */
    .btn-download {
      margin: 20px auto 0;
      width: 200px;
      font-size: 25px; } }

/* line 132, scss/_banner.scss */
.btn-readmore {
  border: 1px solid #ccc;
  padding: 5px 15px;
  border-radius: 3px; }

/* line 2, scss/_homepage.scss */
.go-features {
  margin-bottom: 50px; }
  /* line 5, scss/_homepage.scss */
  .go-features .btn {
    margin-bottom: 30px; }
  /* line 9, scss/_homepage.scss */
  .go-features .readmore {
    background: #86569a;
    color: #fff; }

/* line 16, scss/_homepage.scss */
.bigtxt {
  font-size: 20px;
  width: 100%;
  margin: 0 auto 30px auto;
  text-align: center;
  background: #f5f5f5;
  color: #333333;
  padding: 20px 10%;
  color: #333333; }
  @media (min-width: 768px) {
    /* line 16, scss/_homepage.scss */
    .bigtxt {
      margin: 0 auto 30px auto;
      padding: 30px 5%;
      font-size: 25px;
      max-width: 100%; } }
  @media (min-width: 1200px) {
    /* line 16, scss/_homepage.scss */
    .bigtxt {
      margin: 0 auto 30px auto;
      padding: 50px 15%;
      font-size: 35px;
      max-width: 90%;
      background: transparent; } }

/* line 44, scss/_homepage.scss */
.main-features figure {
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    /* line 44, scss/_homepage.scss */
    .main-features figure {
      float: left; } }
  @media (min-width: 992px) {
    /* line 44, scss/_homepage.scss */
    .main-features figure {
      margin-bottom: 50px; } }
  /* line 55, scss/_homepage.scss */
  .main-features figure img {
    max-width: 80%; }
/* line 61, scss/_homepage.scss */
.main-features h3 {
  font-size: 18px;
  margin: 20px 0; }
/* line 71, scss/_homepage.scss */
.main-features .features {
  text-align: center; }
  @media (min-width: 768px) and (max-width: 992px) {
    /* line 74, scss/_homepage.scss */
    .main-features .features .feature-box {
      border-bottom: 1px dashed #cccccc;
      width: 100%;
      float: left; } }
  /* line 83, scss/_homepage.scss */
  .main-features .features p {
    border-bottom: 1px dashed #cccccc;
    padding-bottom: 20px; }
    @media (min-width: 768px) {
      /* line 83, scss/_homepage.scss */
      .main-features .features p {
        border: 0; } }
/* line 96, scss/_homepage.scss */
.main-features .see-all-features {
  width: 260px;
  margin: 30px auto 50px;
  display: block; }

/* line 108, scss/_homepage.scss */
.plugins-community {
  background: #f5f5f5;
  padding: 40px 0; }
  /* line 112, scss/_homepage.scss */
  .plugins-community figure {
    margin-top: 20px; }

/* line 118, scss/_homepage.scss */
.plugins-cont {
  margin-bottom: 30px; }

/* line 122, scss/_homepage.scss */
.support {
  padding: 40px 0; }

/* line 126, scss/_homepage.scss */
.go-support {
  color: #fff;
  background: #1abc9c;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  padding: 20px; }
  @media (min-width: 992px) {
    /* line 126, scss/_homepage.scss */
    .go-support {
      width: 90%; } }
  /* line 138, scss/_homepage.scss */
  .go-support p {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 0; }
  /* line 144, scss/_homepage.scss */
  .go-support a {
    margin-top: 20px; }
    @media (min-width: 768px) {
      /* line 144, scss/_homepage.scss */
      .go-support a {
        margin-top: 16px; } }
    @media (min-width: 992px) {
      /* line 144, scss/_homepage.scss */
      .go-support a {
        margin-top: 4px; } }

/* line 5, scss/_innerpages.scss */
.inner-banner {
  background: #eeeeee;
  padding: 0; }
  @media (min-width: 768px) {
    /* line 5, scss/_innerpages.scss */
    .inner-banner {
      padding: 0 0 20px 0; } }
  /* line 13, scss/_innerpages.scss */
  .inner-banner h1 {
    font-size: 20px; }
    @media (min-width: 768px) {
      /* line 13, scss/_innerpages.scss */
      .inner-banner h1 {
        font-size: 40px; } }

/* line 22, scss/_innerpages.scss */
.page-headings {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
  margin-bottom: 30px; }

/* line 30, scss/_innerpages.scss */
.warning {
  padding: 10px;
  margin: 10px 0 0 0;
  background: rgba(235, 33, 33, 0.15);
  position: relative;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }
  /* line 39, scss/_innerpages.scss */
  .warning .fa {
    font-size: 20px;
    margin: 0 10px;
    color: rgba(255, 0, 0, 0.62); }

/* line 47, scss/_innerpages.scss */
.event-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  /* line 52, scss/_innerpages.scss */
  .event-list li {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 1px dashed #cccccc; }
    /* line 4, scss/_mixins.scss */
    .event-list li:after {
      content: "";
      display: table;
      clear: both; }
    /* line 60, scss/_innerpages.scss */
    .event-list li .title {
      font-size: 18px;
      display: block; }
    /* line 65, scss/_innerpages.scss */
    .event-list li .time {
      display: block;
      color: #777777; }

/* line 77, scss/_innerpages.scss */
.datebox {
  background: #eeeeee;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 20px;
  text-align: center; }
  /* line 84, scss/_innerpages.scss */
  .datebox .month {
    display: block;
    font-size: 16px; }
  /* line 89, scss/_innerpages.scss */
  .datebox .date {
    display: block;
    font-size: 25px;
    font-weight: 700; }

@media (min-width: 768px) {
  /* line 100, scss/_innerpages.scss */
  .go-features .row {
    padding: 50px 0; } }
/* line 107, scss/_innerpages.scss */
.go-features figure {
  text-align: center; }
  /* line 110, scss/_innerpages.scss */
  .go-features figure img {
    max-width: 80%; }
    @media (min-width: 768px) {
      /* line 110, scss/_innerpages.scss */
      .go-features figure img {
        max-width: 100%; } }
/* line 121, scss/_innerpages.scss */
.go-features .features__title {
  font-weight: 300;
  font-size: 22px;
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    /* line 121, scss/_innerpages.scss */
    .go-features .features__title {
      font-size: 30px; } }
/* line 136, scss/_innerpages.scss */
.go-features hr {
  border-top: 1px dashed #ccc;
  position: relative;
  clear: both; }
  @media (min-width: 768px) {
    /* line 136, scss/_innerpages.scss */
    .go-features hr {
      top: 48px; } }

@media (min-width: 768px) {
  /* line 151, scss/_innerpages.scss */
  .subscribe-content {
    padding-top: 30px; } }

/* line 158, scss/_innerpages.scss */
.mktoButtonWrap.mktoSimple {
  margin: 0 !important; }
  @media (min-width: 768px) {
    /* line 158, scss/_innerpages.scss */
    .mktoButtonWrap.mktoSimple {
      margin-left: 163px !important; } }

/* line 167, scss/_innerpages.scss */
.subscribe-form {
  background: #f5f5f5;
  padding: 30px;
  border-radius: 10px; }
  /* line 172, scss/_innerpages.scss */
  .subscribe-form .mktoForm input[type=text],
  .subscribe-form .mktoForm input[type=url],
  .subscribe-form .mktoForm input[type=email],
  .subscribe-form .mktoForm input[type=tel],
  .subscribe-form .mktoForm input[type=number],
  .subscribe-form .mktoForm input[type=date],
  .subscribe-form .mktoForm textarea.mktoField,
  .subscribe-form .mktoForm select.mktoField {
    border: 1px solid #cccccc;
    height: 30px; }
  /* line 184, scss/_innerpages.scss */
  .subscribe-form .mktoForm .mktoRequiredField label.mktoLabel,
  .subscribe-form .mktoForm label.mktoLabel,
  .subscribe-form label {
    font-weight: normal;
    margin-bottom: 5px; }
  /* line 191, scss/_innerpages.scss */
  .subscribe-form .mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
    color: #fff;
    border: 1px solid #86569A;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #86569A;
    background-image: none;
    background-image: -webkit-linear-gradient(top, #99c47c, #75ae4c);
    background-image: -moz-linear-gradient(top, #99c47c, #75ae4c);
    background-image: none; }

/* line 208, scss/_innerpages.scss */
.community .community-tiles {
  padding: 30px 0 20px; }
  /* line 211, scss/_innerpages.scss */
  .community .community-tiles h3 {
    text-align: center; }
  /* line 215, scss/_innerpages.scss */
  .community .community-tiles .fa {
    font-size: 100px;
    margin: 30px 0;
    color: #ccc; }

/* line 227, scss/_innerpages.scss */
.partners h4 {
  margin-bottom: 40px;
  font-size: 24px; }
/* line 232, scss/_innerpages.scss */
.partners img {
  max-width: 150px; }

/* line 8, scss/_plugins.scss */
.plugins .note {
  margin-bottom: 30px; }

@media (min-width: 768px) {
  /* line 13, scss/_plugins.scss */
  .plugins-container {
    margin-top: 10px;
    min-height: 400px; } }

/* line 21, scss/_plugins.scss */
.plugin-info {
  font-size: 12px;
  line-height: normal;
  border-radius: 10px;
  display: inline-block; }
  /* line 30, scss/_plugins.scss */
  .plugin-info:before {
    content: "";
    border-left: 1px solid #ccc;
    padding-left: 10px; }
  @media (min-width: 768px) {
    /* line 21, scss/_plugins.scss */
    .plugin-info {
      margin-top: 0; } }

/* line 40, scss/_plugins.scss */
.go-tag {
  margin: 0 5px; }

/* line 44, scss/_plugins.scss */
.contribute_tile {
  width: 100%; }

/* line 48, scss/_plugins.scss */
.contribute-plugin {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  height: 215px;
  text-align: center; }
  @media (min-width: 768px) {
    /* line 48, scss/_plugins.scss */
    .contribute-plugin {
      height: 215px; } }
  /* line 58, scss/_plugins.scss */
  .contribute-plugin .fa-star {
    font-size: 50px; }

/* line 64, scss/_plugins.scss */
.plugins-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: space-between;
  -moz-align-content: space-between;
  -ms-flex-line-pack: space-between;
  align-content: space-between; }
  @media (min-width: 768px) {
    /* line 64, scss/_plugins.scss */
    .plugins-list {
      margin: 0px 0 0px 18px; } }
  @media (min-width: 992px) {
    /* line 64, scss/_plugins.scss */
    .plugins-list {
      margin: 10px 10px 10px 15px;
      padding: 10px 0; } }
  @media (min-width: 992px) {
    /* line 64, scss/_plugins.scss */
    .plugins-list {
      margin: 10px 10px 10px 25px; } }
  /* line 86, scss/_plugins.scss */
  .plugins-list li {
    margin: 10px; }
    /* line 89, scss/_plugins.scss */
    .plugins-list li .details {
      background: #fff;
      padding: 20px;
      width: 100%;
      position: relative;
      align-items: stretch;
      transition: all 0.5s ease;
      height: 175px; }
    @media (min-width: 768px) {
      /* line 86, scss/_plugins.scss */
      .plugins-list li {
        width: 46%;
        margin: 10px 0 20px 25px; }
        /* line 103, scss/_plugins.scss */
        .plugins-list li:nth-child(2n+1) {
          margin-left: 0; } }
    @media (min-width: 992px) {
      /* line 86, scss/_plugins.scss */
      .plugins-list li {
        width: 31%; }
        /* line 112, scss/_plugins.scss */
        .plugins-list li:nth-child(2n+1) {
          margin-left: 25px; }
        /* line 115, scss/_plugins.scss */
        .plugins-list li:nth-child(3n+4) {
          margin-left: 0; }
        /* line 118, scss/_plugins.scss */
        .plugins-list li:first-child {
          margin-left: 0; } }
    @media (min-width: 1200px) {
      /* line 86, scss/_plugins.scss */
      .plugins-list li {
        width: 31%; } }
    /* line 128, scss/_plugins.scss */
    .plugins-list li .go-logo {
      position: absolute;
      right: 5px;
      top: 5px; }
    /* line 134, scss/_plugins.scss */
    .plugins-list li .name {
      font-size: 20px; }
    /* line 143, scss/_plugins.scss */
    .plugins-list li .more-details {
      font-size: 12px; }
    /* line 152, scss/_plugins.scss */
    .plugins-list li .created-by {
      margin-bottom: 10px;
      display: block; }
    /* line 157, scss/_plugins.scss */
    .plugins-list li .actions {
      background: #f2f8fc;
      padding: 10px 20px;
      transition: all 0.5s ease;
      color: #333; }
      /* line 4, scss/_mixins.scss */
      .plugins-list li .actions:after {
        content: "";
        display: table;
        clear: both; }
      /* line 164, scss/_plugins.scss */
      .plugins-list li .actions .fa {
        margin-right: 3px; }
    /* line 178, scss/_plugins.scss */
    .plugins-list li .with-go,
    .plugins-list li .download-plugin {
      float: left;
      color: #333;
      transition: all 0.5s ease; }
      /* line 184, scss/_plugins.scss */
      .plugins-list li .with-go a,
      .plugins-list li .download-plugin a {
        color: #333; }
    /* line 190, scss/_plugins.scss */
    .plugins-list li .github-star-button {
      float: right; }
    /* line 194, scss/_plugins.scss */
    .plugins-list li:hover {
      -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
      transition: all 0.5s ease; }
      /* line 200, scss/_plugins.scss */
      .plugins-list li:hover .actions {
        background: #86569A;
        transition: all 0.5s ease; }
        /* line 204, scss/_plugins.scss */
        .plugins-list li:hover .actions .with-go,
        .plugins-list li:hover .actions .download-plugin {
          transition: all 0.5s ease;
          color: #fff; }
          /* line 209, scss/_plugins.scss */
          .plugins-list li:hover .actions .with-go a,
          .plugins-list li:hover .actions .download-plugin a {
            color: #fff; }
    /* line 219, scss/_plugins.scss */
    .plugins-list li.contribute_tile {
      background: #666666;
      color: #fff; }
      /* line 223, scss/_plugins.scss */
      .plugins-list li.contribute_tile a,
      .plugins-list li.contribute_tile h5 {
        color: #fff; }
    @media (max-width: 767px) {
      /* line 229, scss/_plugins.scss */
      .plugins-list li.go {
        width: 100%; } }

/* line 1, scss/help.scss */
.numbering {
  text-align: center;
  padding: 20px 0;
  position: relative; }
  @media (min-width: 768px) {
    /* line 1, scss/help.scss */
    .numbering {
      padding: 50px 0; } }
  /* line 9, scss/help.scss */
  .numbering:before {
    content: "";
    border-bottom: 1px solid #eeeeee;
    width: 200px;
    top: 50%;
    left: 50%;
    display: block;
    position: absolute;
    transform: translateX(-50%);
    z-index: 0; }
    @media (min-width: 768px) {
      /* line 9, scss/help.scss */
      .numbering:before {
        width: 300px; } }
  /* line 24, scss/help.scss */
  .numbering span {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    border: 1px solid #cccccc;
    background: #fff;
    color: #333;
    z-index: 2; }
    @media (min-width: 768px) {
      /* line 24, scss/help.scss */
      .numbering span {
        width: 50px;
        height: 50px;
        line-height: 47px; } }

/* line 45, scss/help.scss */
.sub-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  margin: 0 0 40px 0; }
  @media (min-width: 768px) {
    /* line 45, scss/help.scss */
    .sub-title {
      font-size: 36px;
      margin: 0 0 50px 0; } }
  /* line 55, scss/help.scss */
  .sub-title .go {
    text-transform: none; }

/* line 61, scss/help.scss */
.get-start {
  margin-bottom: 50px; }
  /* line 4, scss/_mixins.scss */
  .get-start:after {
    content: "";
    display: table;
    clear: both; }

/* line 66, scss/help.scss */
.gocd-community {
  clear: both;
  border: 0; }
  /* line 69, scss/help.scss */
  .gocd-community .sub-title {
    margin-bottom: 10px; }
  /* line 72, scss/help.scss */
  .gocd-community .desc {
    margin-bottom: 50px; }

/* line 77, scss/help.scss */
.cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style-type: none;
  margin: 30px 0 0px;
  padding: 0; }
  @media only screen and (min-width: 768px) {
    /* line 77, scss/help.scss */
    .cta {
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; } }
  /* line 99, scss/help.scss */
  .cta a {
    width: 330px;
    height: 230px;
    padding: 40px 20px;
    border: 1px solid #cccccc;
    background: #EEEBEB;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    color: #4a4a4a;
    text-decoration: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: pointer;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    margin-bottom: 30px;
    border-radius: 20px; }
    @media only screen and (min-width: 768px) {
      /* line 99, scss/help.scss */
      .cta a {
        width: 400px;
        height: 275px; } }
    @media only screen and (min-width: 768px) {
      /* line 136, scss/help.scss */
      .cta a:first-child {
        margin-right: 40px;
        margin-bottom: 0; } }
    /* line 144, scss/help.scss */
    .cta a:hover {
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      text-decoration: none;
      box-shadow: 0px 0px 2px 2px #E0E0E0; }
  /* line 153, scss/help.scss */
  .cta p {
    margin: 0;
    font-size: 14px; }
    @media only screen and (min-width: 768px) {
      /* line 153, scss/help.scss */
      .cta p {
        font-size: 18px; } }
  /* line 162, scss/help.scss */
  .cta h3 {
    font-size: 18px;
    line-height: 28px;
    margin: 0;
    text-transform: uppercase; }
    @media only screen and (min-width: 768px) {
      /* line 162, scss/help.scss */
      .cta h3 {
        font-size: 20px; } }

/* line 176, scss/help.scss */
.cta a.padded {
  padding: 40px 20px; }
  @media only screen and (min-width: 768px) {
    /* line 176, scss/help.scss */
    .cta a.padded {
      padding: 40px 20px; } }

/* line 184, scss/help.scss */
.get-support {
  background: url(../images/help-bg.jpg) no-repeat center top;
  background-size: cover;
  color: #fff; }
  /* line 4, scss/_mixins.scss */
  .get-support:after {
    content: "";
    display: table;
    clear: both; }
  /* line 190, scss/help.scss */
  .get-support .sub-title {
    color: #fff;
    margin-bottom: 10px; }
  /* line 196, scss/help.scss */
  .get-support .numbering:before {
    border-bottom: 1px solid rgba(238, 238, 238, 0.38); }
  /* line 202, scss/help.scss */
  .get-support ul {
    list-style-type: circle;
    font-weight: 300; }
  /* line 207, scss/help.scss */
  .get-support a {
    color: #86569a; }
    /* line 210, scss/help.scss */
    .get-support a:hover, .get-support a:visited {
      color: #86569a; }
  @media only screen and (min-width: 768px) {
    /* line 218, scss/help.scss */
    .get-support .left {
      padding-right: 30px;
      float: left;
      width: 50%;
      text-align: right;
      direction: rtl; }
    /* line 226, scss/help.scss */
    .get-support .right {
      width: 50%;
      float: left; } }
  /* line 233, scss/help.scss */
  .get-support h3 {
    color: #fff; }

/* line 239, scss/help.scss */
.points {
  width: 100%;
  margin: 30px auto; }
  /* line 4, scss/_mixins.scss */
  .points:after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (min-width: 768px) {
    /* line 239, scss/help.scss */
    .points {
      width: 77%; } }

/* line 250, scss/help.scss */
.actions {
  clear: both;
  text-align: center;
  margin: 20px 0 50px; }
  /* line 255, scss/help.scss */
  .actions a {
    text-decoration: underline;
    font-size: 12px;
    color: #fff; }
    /* line 260, scss/help.scss */
    .actions a:visited, .actions a:hover {
      color: #fff; }
    @media only screen and (min-width: 768px) {
      /* line 255, scss/help.scss */
      .actions a {
        font-size: 15px; } }

/* line 272, scss/help.scss */
.btn-cta {
  clear: both;
  display: block;
  background: transparent;
  border: 0;
  color: #fff;
  border: 1px solid #fff;
  width: 215px;
  height: 54px;
  line-height: 49px;
  text-align: center;
  text-decoration: none;
  margin: 0px auto 10px;
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase; }
  /* line 288, scss/help.scss */
  .btn-cta:focus {
    outline: 0; }
  @media only screen and (min-width: 768px) {
    /* line 272, scss/help.scss */
    .btn-cta {
      width: 240px; } }

/* line 298, scss/help.scss */
#support_form_submit_failure {
  max-width: 500px;
  margin: 40px auto;
  border: 1px solid #f00;
  padding: 30px; }

/* line 305, scss/help.scss */
#support_form_submit_failure p {
  color: #f00;
  margin-bottom: 0; }

/* line 310, scss/help.scss */
#support_form_submit_success {
  max-width: 500px;
  margin: 40px auto;
  border: 1px solid #419041;
  padding: 30px; }

/* line 317, scss/help.scss */
#support_form_submit_success p {
  color: #419041;
  margin-bottom: 0; }

/* line 322, scss/help.scss */
.signup {
  clear: both;
  border: 1px solid #ccc;
  border-top-width: 0;
  padding: 30px;
  display: none;
  position: relative;
  text-align: center; }
  /* line 330, scss/help.scss */
  .signup:before {
    content: "";
    position: absolute;
    width: 0;
    left: 50%;
    height: 0;
    border-style: solid;
    border-width: 0 30px 30px 30px;
    border-color: transparent transparent #ffffff transparent;
    top: -20px;
    transform: translateX(-50%); }
  /* line 342, scss/help.scss */
  .signup .close {
    position: absolute;
    right: 20px;
    font-weight: bold;
    cursor: pointer;
    background: #ccc;
    top: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 31px; }
  /* line 354, scss/help.scss */
  .signup h3 {
    text-align: center;
    margin: 0 0 10px 0;
    font-size: 22px; }
  /* line 359, scss/help.scss */
  .signup p {
    text-align: center;
    max-width: 400px;
    margin: 0 auto 30px; }

@media only screen and (min-width: 768px) {
  /* line 367, scss/help.scss */
  .signup h3 {
    font-size: 30px; } }
/* line 372, scss/help.scss */
.subsection {
  clear: both;
  text-align: center; }
  /* line 376, scss/help.scss */
  .subsection h3 {
    font-size: 15px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    font-weight: 300;
    font-weight: 400; }
    @media only screen and (min-width: 768px) {
      /* line 376, scss/help.scss */
      .subsection h3 {
        font-size: 20px; } }
  /* line 390, scss/help.scss */
  .subsection p {
    font-size: 15px;
    font-weight: 300; }

/* line 396, scss/help.scss */
.desc {
  font-size: 15px;
  font-weight: 300;
  max-width: 650px;
  text-align: center;
  margin: auto; }

/* line 404, scss/help.scss */
.foo-links {
  margin-top: 50px; }
  @media only screen and (min-width: 992px) {
    /* line 404, scss/help.scss */
    .foo-links {
      margin: 30px auto;
      width: 85%; } }
  /* line 410, scss/help.scss */
  .foo-links h5 {
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px; }

/* line 419, scss/help.scss */
.footer-links a {
  text-decoration: underline;
  font-size: 14px;
  color: #86569a;
  /*margin-right: 20px;*/ }
  /* line 423, scss/help.scss */
  .footer-links a:hover, .footer-links a:visited {
    color: #86569a; }
/* line 428, scss/help.scss */
.footer-links ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  /* line 443, scss/help.scss */
  .footer-links ul li {
    margin: 0 0 20px 30px; }
@media only screen and (min-width: 768px) {
  /* line 418, scss/help.scss */
  .footer-links {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin: 0 40px; } }

/* line 460, scss/help.scss */
.foo-links .footer-links ul li {
  width: 100%; }
  @media only screen and (min-width: 768px) {
    /* line 460, scss/help.scss */
    .foo-links .footer-links ul li {
      width: auto; } }

/* line 467, scss/help.scss */
.signup #support_form input[type="text"] {
  border: 1px solid #ccc;
  height: 30px;
  width: 200px;
  margin-bottom: 10px;
  padding: 5px 10px; }

@media only screen and (min-width: 768px) {
  /* line 476, scss/help.scss */
  .signup #support_form input[type="text"] {
    width: 250px;
    margin-bottom: 15px; } }
/* line 483, scss/help.scss */
.signup #support_form textarea {
  border: 1px solid #ccc;
  height: 70px;
  width: 200px;
  margin-bottom: 20px;
  padding: 5px 10px; }

@media only screen and (min-width: 768px) {
  /* line 492, scss/help.scss */
  .signup #support_form textarea {
    width: 250px;
    margin-bottom: 30px; } }
/* line 499, scss/help.scss */
.signup #support_form button {
  display: block;
  background: #8A549B;
  border: 0;
  color: #fff;
  width: 180px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  margin: 10px auto 10px;
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase; }

@media only screen and (min-width: 768px) {
  /* line 516, scss/help.scss */
  .signup #support_form button {
    width: 240px; } }
/* line 522, scss/help.scss */
.hide-by-default {
  display: none; }

/* START Don't show "Need Professional Support?" header on this page. */
/* line 527, scss/help.scss */
.need_help .header {
  height: 90px; }

/* line 531, scss/help.scss */
.need_help .header .support-header {
  display: none; }

/* line 535, scss/help.scss */
.need_help .header .social-icons,
.need_help .header .navigation {
  margin-top: 20px; }

/* line 540, scss/help.scss */
.need_help .header .title .logo {
  margin-top: 6px; }

/* line 544, scss/help.scss */
.need_help .page-title {
  margin: 0px;
  border: none; }

@media only screen and (min-width: 1200px) {
  /* line 550, scss/help.scss */
  .need_help .container-12 {
    width: auto; }

  /* line 554, scss/help.scss */
  .need_help .container_12 {
    margin-left: auto;
    margin-right: auto;
    width: 1020px;
    position: relative; }

  /* line 561, scss/help.scss */
  .need_help .container_12:after {
    content: "";
    display: table;
    clear: both; } }
