---
title: Welcome to Middleman
---
<div class="banner">
	<h1 class="caption"><span>Continuous Delivery</span></h1>
	<span class="subcaption">Performance. Support. Reliability</span>
	<a href="#" class="btn btn-download">Download</a>
</div>
<div class="go-features">
	
	<p class="bigtxt"> Automate and streamline the build-test-release cycle for worry-free, continuous delivery of your product.</p>
	
	<div class="container">
		<div class="row">
			
			<div class="col-sm-6 col-md-3">
				<figure>
					<%= image_tag "model-complex-worklflows.png" %>
					
				</figure>
				<h3>Model complex workflows</h3>
				<p>Go's pipelines are the building blocks with which you model your deployment pipeline. With Go, you can easily configure dependencies for fast feedback and on-demand deployment. Parallel and sequential execution work exactly as you would expect. <a href="https://www.thoughtworks.com/insights/blog/model-everything-fail-fast" target="_blank">Here's a glimpse</a> of what can be done in Go. With its fan-in/fan-out dependency management, Go always tries to do the "right thing," avoiding spurious builds and unverified configurations. Read more about fan-in/fan-out here
			</p>
			<a href="#" class="btn btn-default">read more</a>
		</div>
			<div class="col-sm-6 col-md-3">
			<figure>
			<%= image_tag "see-how-things-work.png" %>
			</figure>
				<h3>Promote trusted artifacts</h3>
				<p> Every pipeline instance is anchored to a particular changeset. Go makes it easy to pass once-built binaries between stages so you know exactly what's being deployed and that the binary has been tested.
			</p>
			<a href="#" class="btn btn-default">read more</a>
		</div>
		<div class="col-sm-6 col-md-3">
			<figure>
				<%= image_tag "see-how-things-work.png" %>
			</figure>
			<h3>See how things really work</h3>
			<p> Clichéd as it may sound, Go's real power is in the visibility it provides over your end-to-end workflow. Go's Value Stream Map lets you track a change from commit to deploy at a glance. And when things go wrong, it's easy to see both the upstream cause and the downstream effects.
			</p>
			<a href="#" class="btn btn-default">read more</a>
		</div>
		<div class="col-sm-6 col-md-3">
			<figure>
				<%= image_tag "deploy-any-version.png" %>
			</figure>
			<h3>Deploy any version, any time</h3>
			<p>Go's manual triggers allow you to deploy any known good version of your application to wherever you like. This empowers QA teams with self-service environments, and increases reliability of pushing to production. And, if necessary,it's securable and auditable.
			</p>
			<a href="#" class="btn btn-default">read more</a>
		</div>
	</div>

	<a href="#" class="btn readmore">See all go features</a>
	
</div>
</div>
